/*---------------------GERNERAL----------------------*/
body {
  background-color: #ffffff;
  color: #404040;
}

/** {
  overflow-x: hidden;
}*/
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.oswald {
  font-family: oswald !important;
  /* font-size: 300% !important; */
}

.gothic-solid {
  font-family: hwt-republic-gothic-solid !important;
}

.main-content {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

h1 {
  font-family: oswald;
  font-weight: 400;
  font-size: 2.9375rem;
  font-style: normal;
}

.main {
  z-index: 1;
}


/*---------------------RESPONSIVENESS----------------------*/
@media screen and (max-width: 900px) { /*TABLET_SIZE*/
}

@media screen and (max-width: 600px) { /*PHONE-SIZE*/
  .title {
    padding: 10%;
    padding-top: 20%;
    text-align: center;
  }
}


/*---------------------NAVBAR----------------------*/

.nav-item:hover {
  cursor: pointer;
  color: #3d5afe;
  text-decoration: none;
}

.nav-item.active {
  color: #3d5afe;
}

.navbar.active {
  background-color: rgba(255, 255, 255, 1);
}

.menu-item {
  padding-left: 3% !important;
  padding-right: 3% !important;
}

.nav-logo {
  flex-grow: 1;
  padding-left: 3%;
}


/*---------------------HERO----------------------*/

.hero {
  background-image: linear-gradient(336deg, #b3c1c0, #e9f5f5);
}

.HeroContent {
  padding-top: 6%;
}

.heroImage {
  bottom: 0;
  display: flex;
}

.section-title {
  /* text-transform: uppercase; */
  /* text-align: center;
  padding: 5%; */
  padding-bottom: 3%;
  padding-top: 5%;
  margin: 0 !important;
}

.align-right {
  justify-content: right;
  text-align: right;
}

.align-left {
  justify-content: left;
  text-align: left;
}

/*------ABOUT------*/
.about-image {
  justify-content: end;
}

.about-section {
  margin: 3%;
}

/*---------------------PROJECTS----------------------*/
.card-content {
  background-color: #ebebeb;
}

.align-center {    
  display: flex;
  justify-content: center;
  text-align: center;
}

.align-center-vertical {    
  display: flex;
  align-items: center;
}

ul {
  padding: 0;
}

.project-desciption {
  list-style-type: none;
}

h2 {
  font-family: oswald !important;
  font-weight: 400;
  font-size: 2.9375rem;
  font-style: normal;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  /* row-gap: 2%;
  column-gap: 3%; */
}

.grid-item {
  margin: 3%;
}

.icon { /* TODO: does not work */
  padding-left: 5%;
  padding-right: 5%;
}


/*---------------------FOOTER----------------------*/

.footer {
  background-image: linear-gradient(#E0E0E0, #FFFFFF);
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1%;
}

.contact-item a {
  padding: 0;
  font-size: 100% !important;
  text-align: left;
  justify-content: left;
}

.contact-button {
  /* text-align: center; 
  font-family: oswald !important;*/
  font-weight: 400 !important;
  font-style: normal !important;
  padding: 0 !important;
}

.contact-button:hover {
  /* font-family: hwt-republic-gothic-solid !important; */
  background-color: transparent !important;
  color: #3d5afe;
}

.grid-item-center {
  display: flex;
  justify-content: center;
}


/*---------------PROJECT-DETAILS------------*/

.project-details {
  display: block;
}

.hero-image {
  height: 30vh;
  /* background-attachment: fixed; */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
}

.hero-blur {
  height: 30vh;
  width: 100%;
  /* background-color: black; */
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  text-align: center;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  color: white;
  text-transform: uppercase;
  font-size: 150%;
}

.icon-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5%;;
}



/*--------------gallery---------------------*/
.grid-container-gallery {
  display: grid;
  grid-template-areas: 'left1 middle1 rigth1' 'left2 big1 big1';
}

.process {
  display: flex;
  justify-content: center;
}

.circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #e9f5f5;
}

.circle.full {
  background-color: #4caf50;;
}

.image-card {
  position: relative;
  cursor: zoom-in;
}

.arrow-button {
  position: absolute !important;
  top: 30%; 
  height: 60%;
  width: 30%;
}

.arrow-button.next {
  right: -10%;
}

.arrow-button.prev {
  left: -10%;
}

.fullscreen-img {
  border-radius: 3px;
}

.modal-container {
  display: grid;
  cursor: zoom-out;
  justify-items: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.white-text {
  color: white;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.project-links {
  text-align: center;
  margin-top: 5%;
}

.project-links li {
  display: inline;
}

.project-links li a {
  margin: 3%
}